@import "bootstrap/dist/css/bootstrap.min.css";
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */

:root {
  --theme-color: #004aad;
  --fade-theme-color: #c5d8f8;
  --text-color: #ffffff;
  --offwhite-color: #eee;
  --text-dark: #333333;
  --hover-color: #cc4d2d;
  --background-dark: #000000;
  --menu-background: #2b80ff;
  --crimson-red: #dc143c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; 
}

*::before,
*::after {
  box-sizing: border-box;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* 
body {
  background-color: var(--background-dark);
  color: var(--text-color);
} */