.navbar {
  width: 100%;
  background-color: transparent;
  transition: background-color 0.6s ease, box-shadow 0.6s ease;
  z-index: 999;
}

.scrolled {
  padding-bottom: 0px;
  background-color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.logoWrapper {
  transition: all 0.3s ease;
  max-height: 45px;

}

.logoShrink {
  max-height: 60px;
  transform: scale(0.85);
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navItem {
  position: relative;
  list-style: none;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navLink {
  color: var(--text-color);
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  font-size: 14.5px;
  gap: 6px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navLink:hover {
  color: var(--theme-color);
}

.dropdownToggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-weight: 400;
}

.caret {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.customDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  min-width: 180px;
  background: white;
  border: 1px solid #ddd;
  padding: 0.5rem 0;
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.customDropdown li {
  list-style: none;
}

/* .customDropdown .dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 16px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.customDropdown .dropdown-item:hover {
  background-color: #cc4d2d !important;
} */

.dropdownItem {
  display: block;
  width: 100%;
  padding: 5px 16px;
  color: #222;
  background-color: white;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdownItem:hover {
  background-color: var(--fade-theme-color);
  /* color: var(--text-color); */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 991px) {
  .navbar {
    background-color: transparent;
    /* background-color: var(--background-dark); */
  }

  .scrolled {
    /* padding-bottom: 0px; */
    background-color: #000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  .navbar-collapse {
    overflow: visible !important;
  }

  .navList {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0 5px 10px;
  }

  .navItem {
    text-align: center;
    width: 100%;
  }

  .navLink {
    font-size: 13px;
  }

  .logoShrink {
    max-height: 60px;
    transform: scale(0.65);
  }

  /* .dropdownToggle {
    width: 100%;
    justify-content: space-between;
    padding: 12px 0;
  } */

  .dropdownToggle {
    padding: 8px 0;
    font-size: 13px;
  }

  .dropdownItem {
    font-size: 13px;
  }

  .customDropdown {
    position: relative;
    max-height: 300px;
    /* or auto */
    scroll-behavior: smooth;
    overflow-y: scroll;
    z-index: 9999;
    background-color: white;
  }

  .customDropdown .dropdown-item {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .logoWrapper img {
    max-width: 200px;
    height: 45px;
  }

  .logoShrink {
    max-height: 60px;
    transform: scale(0.85);
  }
}