.descriptionSection {
  padding: 60px 0;
  background-color: #fff;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  color: var(--theme-color);
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}

/* Responsive */
@media (max-width: 768px) {
  .heading {
    font-size: 21px;
  }

  .text {
    font-size: 14px;
    padding: 0 15px;
  }
}
