.bannerSection {
  position: relative;
  width: 100%;
  height: 320px;
  padding: 80px 0 10px;
  background-color: #000000d2;
  overflow: hidden;
}

.bannerBg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.bannerImage {
  object-fit: cover;
  opacity: 0.35;
}

.bannerContent {
  position: relative;
  z-index: 2;
  padding: 80px 50px 20px;
  color: #111;
}

.pageTitle {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--text-color);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: var(--offwhite-color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
}

.breadcrumbItem:hover {
  font-weight: 600;
  color: var(--menu-background);;
}

.breadcrumbWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.homeIcon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.caret {
  color: var(--text-color); 
}

.current {
  font-size: 18px;
  font-weight: 600;
  color: var(--menu-background);
}

@media (max-width: 991px) {
  .bannerSection {
    height: 260px;
    padding: 80px 0 10px;
  }

  .bannerContent {
    padding: 60px 30px 10px;
  }

  .pageTitle {
    font-size: 26px;
  }

  .breadcrumbItem {
    font-size: 16px;
  }

  .current {
    font-size: 16px;
  }

  .homeIcon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 767px) {
  .bannerSection {
    height: 220px;
    padding: 70px 0 5px;
  }

  .bannerContent {
    padding: 50px 20px 10px;
    text-align: center;
  }

  .breadcrumbs {
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
  }

  .pageTitle {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .breadcrumbItem {
    font-size: 14px;
    gap: 4px;
  }

  .current {
    font-size: 14px;
  }

  .homeIcon {
    width: 16px;
    height: 16px;
  }

  .caret {
    font-size: 12px;
  }
}
